[submodule "libs/core"]
	path = libs/core
	url = git@github.com:framefactory/ff-core
[submodule "libs/browser"]
	path = libs/browser
	url = git@github.com:framefactory/ff-browser
[submodule "libs/graph"]
	path = libs/graph
	url = git@github.com:framefactory/ff-graph
[submodule "libs/ui"]
	path = libs/ui
	url = git@github.com:framefactory/ff-ui
[submodule "libs/scene"]
	path = libs/scene
	url = git@github.com:framefactory/ff-scene
[submodule "libs/two"]
	path = libs/two
	url = git@github.com:framefactory/ff-two
[submodule "libs/three"]
	path = libs/three
	url = git@github.com:framefactory/ff-three
[submodule "libs/react"]
	path = libs/react
	url = git@github.com:framefactory/ff-react
[submodule "libs/gl"]
	path = libs/gl
	url = git@github.com:framefactory/ff-gl
[submodule "libs/cgui"]
	path = libs/cgui
	url = git@github.com:framefactory/ff-cgui
[submodule "libs/geo"]
	path = libs/geo
	url = git@github.com:framefactory/ff-geo
