/**
 * FF Typescript Foundation Library
 * Copyright 2018 Ralph Wiedemeier, Frame Factory GmbH
 *
 * License: MIT
 */

@import "../../libs/ff-ui/source/styles";

html {
  @include font-ui-normal;
  font-size: 0.9rem;
  background: $color-background;
  color: $color-text;
}

ff-components {
}

ff-panels {
  @include full-size;
  display: flex;

  ff-dock-view, ff-tab-container {
    flex: 1 1 auto;
  }
}
